@font-face {
  font-family: 'ytta';
  src: url('/font/ytta.otf') format('opentype');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'ytta', Sans-Serif;
  transition: background-color 0.3s ease;
}

input, button, select, textarea {
  -webkit-tap-highlight-color: transparent;
}

button, 
.reset, 
.simpan {
  -webkit-tap-highlight-color: transparent; /* hilangkan highlight di mobile */
  user-select: none;
  outline: none;
  border: none;
  background: none;
}

button:focus, .reset:focus, .simpan:focus,
button:active, .reset:active, .reset:active {
  outline: none;
  box-shadow: none;
}

:root {
  --bg-body: #121212;
  --bg-header: #1e1e1e;
  --bg-card: #1e1e1e;
  --bg-inner: #2b2b2b;
  --bg-button: #3a3a3a;

  --text-primary: #fff;
  --text-secondary: #d5d5d5;
  --text-faded: #b0b0b0;

  --icon-ungu: #bb86fc;
  --icon-oranye: #ff8a50;
  --icon-kuning: #ffd54f;
  --icon-biru: #4fc3f7;
}

body {
  background-color: var(--bg-body);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-header);
  color: var(--text-primary);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 40px;
  gap: 20px;
}

.card-box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 5px;
}

.card1, 
.card2, 
.card3, 
.card4 {
  display: flex;
  align-items: center;
  background-color: var(--bg-card);
  height: 60px;
  min-width: 179px;
  border-radius: 15px;
}

.isi {
  margin-left: 10px;
}

.fa-water { 
  color: var(--icon-biru); 
}
.fa-circle-nodes { 
  color: var(--icon-kuning); 
}
.fa-seedling { 
  color: var(--icon-ungu); 
}
.fa-temperature-full { 
  color: var(--icon-oranye); 
}

.card1 i, 
.card2 i, 
.card3 i, 
.card4 i {
  font-size: 35px;
  margin-left: 5px;
}

.card1 p, 
.card2 p, 
.card3 p, 
.card4 p {
  font-weight: bold;
  font-size: 14px;
  color: var(--text-secondary);
}

.card1 h1, 
.card2 h1, 
.card3 h1, 
.card4 h1 {
  color: var(--text-primary);
}

.control-box {
  width: 95%;
  background-color: var(--bg-card);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px;
  gap: 5px;
}

.control1, 
.control2, 
.control3,
.control4 {
  width: 96%;
  height: 60px;
  background-color: var(--bg-inner);
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  justify-content: flex-start;
  gap: 10px;
}

.com {
  color: var(--text-primary);
}

.control1 button, 
.control2 button, 
.control3 button,
.control4 button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--bg-button);
  margin-left: auto;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* efek saat aktif (nyala) */
.control1 button.active,
.control2 button.active,
.control3 button.active,
.control4 button.active {
  background-color: var(--icon-kuning);
  box-shadow: 0 0 10px var(--icon-kuning);
}

.control1 button.active i,
.control2 button.active i,
.control3 button.active i,
.control4 button.active i {
  color: var(--text-primary);
}

.control1 p, 
.control2 p, 
.control3 p,
.control4 p {
  font-size: 15px;
  font-weight: bold;
  line-height: 20px;
  margin: 0;
}

.control1 i, 
.control2 i, 
.control3 i,
.control4 i {
  font-size: 30px;
  color: var(--text-secondary);
}

.lampu, 
.pump, 
.fan,
.oto {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.chart-box {
  width: 95%;
  background-color: var(--bg-card);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding: 10px 0;
  gap: 5px;
}

.time-box {
  width: 95%;
  border-radius: 10px;
  background-color: var(--bg-card);
  padding: 10px;
  text-align: center;
}

.top {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.jadwal {
  color: var(--text-primary);
}

.start {
  width: 90px;
  height: 36px;
  border: none;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  padding-left: 23px;
}

.end {
  width: 90px;
  height: 36px;
  border: none;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  padding-left: 23px;
}

input[type="time"] {
  font-family: 'Poppins', sans-serif;
  border: none;
  border-radius: 8px;
  background: transparent;
  color: #fff;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  outline: none;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: textfield;
}

input[type="time"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-clear-button,
input[type="time"]::-webkit-inner-spin-button {
  display: none !important;
  -webkit-appearance: none;
  appearance: none;
}

.bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.bottom h2, .top h2 {
  color: var(--text-primary);
  font-size: 20px;
  font-weight: bold;
}

.reset {
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.08);
  padding: 8px 12px;
  border-radius: 8px;
  transition: 0.2s ease;
}

.simpan {
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.08);
  padding: 8px 12px;
  border-radius: 8px;
  transition: 0.2s ease;
}

.reset i, 
.simpan i {
  font-size: 16px;
  color: var(--text-primary);
}

#chart1, 
#chart2, 
#chart3, 
#chart4 {
  width: 95%;
  background-color: var(--bg-inner);
  border-radius: 10px;
  padding: 5px;
  color: var(--text-primary);
  display: flex;
  flex-direction: column;
  text-align: center;
}